.cache/
.vs/
.vscode/
build*/
data/
dev_notes/
doc/out/
doc/tags/
*.code-workspace
compile_commands.json
out/
CMakeSettings.json
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-minsizerel/
html/
latex/